
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body>
    <a href="@Url.RouteUrl("default")">Default</a>
    <a href="@Url.RouteUrl("posts")">Posts</a>
    @RenderBody()
</body>
</html>
