

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Posts</title>
</head>
<body>
    <div> 
        Default posts view
        <a href="~/Posts/SamplePost">Link to sample post</a>
    </div>
</body>
</html>
